.SearchResults {
  width: 40%;
  height: 950px;
  overflow-y: scroll;
  padding: .88rem;
  background-color: rgba(119, 24, 76, 0.8);
  box-shadow: 0 4px 2px 2px #000000;
  color:#6c41ec;
  
  
}

.Results{
  width: 100%;
  background: transparent;
  border-bottom: 4px solid #161257;
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  color:#6c41ec;
 padding-top: 25px;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}